/* Estils de les etiquetes */

body{
	background-color:#F88;
}

/* apartats */
#cap{
	border:solid 1px red;
}

#contingut{
	border:solid 1px red;
	background-color:red;
}
#contingut h2{
	background-color:#F88;
}
#contingut h4{
	background-color:#F88;
}

#contingut p{
	text-align:center;
	border:solid 1px red;
	background-color:#F88;
}

#peu{
	border:solid 1px red;
	background-color:#F88;
}

/* Estils de les classes */
.titol{
	background-color:#F88;
	color:white;
	border:solid 3px red;
}
.exercici{
	border:solid 1px black;
	background-color:#CCC;
}
.fotocap{
	height:100px;
	vertical-align:middle;
}
.film{
	border:solid 1px red;
	background-color:#CCC;
}
